<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmy.hrm.mapper.UserInfMapper" >
    <!--<resultMap id="BaseResultMap" type="com.lmy.hrm.entity.UserInf" >-->
        <!--<id column="id" property="id"  />-->
        <!--<result column="username" property="username" />-->
        <!--<result column="loginname" property="loginname" />-->
        <!--<result column="password" property="password" />-->
        <!--<result column="status" property="status"  />-->
        <!--<result column="createdate" property="createdate" />-->
        <!--<result column="updated" property="updated"  />-->
    <!--</resultMap>-->


    <!--<select id="findBynameAndpassword" resultType="com.lmy.hrm.entity.UserInf"  >-->
        <!--select * from user_inf where loginname = #{loginname} and  password = #{password}-->
    <!--</select>-->
    <!--<script>-->
        <!--<select id="">-->
            <!--select * from user_inf-->
            <!--where 1 = 1-->
            <!--<if test="loginname != null and loginname != ' ' ">-->
                <!--and loginname = #{loginname}-->
            <!--</if>-->
            <!--<if test="username != null and username != ' ' ">-->
                <!--and username = #{username}-->
            <!--</if>-->
            <!--<if test="status != null" >-->
                <!--and status = #{status}-->
            <!--</if>-->
        <!--</select>-->
    <!--</script>-->



</mapper>